/* src/components/NewArticlesSidebar/NewArticlesSidebar.module.css */

.sidebar {
  background-color: var(--clr-neutral-very-dark-blue);
  padding: 1.5rem;
  height: 100%; /* Grid yapısında dikey olarak uzamasını sağlar */
}

.title {
  color: var(--clr-primary-orange);
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.article {
  padding: 1.5rem 0;
}

.articleTitle {
  color: var(--clr-neutral-off-white);
  font-size: 1.25rem;
  font-weight: 800;
  margin-bottom: 0.5rem;
  transition: color 0.2s ease-in-out;
  cursor: pointer;
}

.articleTitle:hover {
  color: var(--clr-primary-orange);
}

.articlePreview {
  color: var(--clr-neutral-grayish-blue);
  line-height: 1.6;
}

.divider {
  border: none;
  height: 1px;
  background-color: var(--clr-neutral-dark-grayish-blue);
}

.article:first-of-type {
  padding-top: 0;
}

.article:last-of-type {
  padding-bottom: 0;
}
